{
  "swagger": "2.0",
  "info": {
    "title": "ServiceBusManagementClient",
    "description": "Azure Service Bus client",
    "version": "2017-04-01"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ServiceBus/namespaces/{namespaceName}/topics/{topicName}/subscriptions/{subscriptionName}/rules": {
      "get": {
        "tags": [
          "Rules"
        ],
        "operationId": "Rules_ListBySubscriptions",
        "x-ms-examples": {
          "RulesListBySubscriptions": {
            "$ref": "./examples/Rules/RuleListBySubscription.json"
          }
        },
        "description": "List all the rules within given topic-subscription",
        "parameters": [
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/NamespaceNameParameter"
          },
          {
            "$ref": "#/parameters/TopicNameParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/SkipParameter"
          },
          {
            "$ref": "#/parameters/TopParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved list of Rules.",
            "schema": {
              "$ref": "#/definitions/RuleListResult"
            }
          },
          "default": {
            "description": "ServiceBus error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ServiceBus/namespaces/{namespaceName}/topics/{topicName}/subscriptions/{subscriptionName}/rules/{ruleName}": {
      "put": {
        "tags": [
          "Rules"
        ],
        "operationId": "Rules_CreateOrUpdate",
        "x-ms-examples": {
          "RulesCreateOrUpdate": {
            "$ref": "./examples/Rules/RuleCreate.json"
          },
          "RulesCreateSqlFilter": {
            "$ref": "./examples/Rules/RuleCreate_SqlFilter.json"
          },
          "RulesCreateCorrelationFilter": {
            "$ref": "./examples/Rules/RuleCreate_CorrelationFilter.json"
          }
        },
        "description": "Creates a new rule and updates an existing rule",
        "parameters": [
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/NamespaceNameParameter"
          },
          {
            "$ref": "#/parameters/TopicNameParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionNameParameter"
          },
          {
            "$ref": "#/parameters/RuleNameParameter"
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Rule"
            },
            "description": "Parameters supplied to create a rule."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Rule created.",
            "schema": {
              "$ref": "#/definitions/Rule"
            }
          },
          "default": {
            "description": "ServiceBus error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Rules"
        ],
        "operationId": "Rules_Delete",
        "x-ms-examples": {
          "RulesDelete": {
            "$ref": "./examples/Rules/RuleDelete.json"
          }
        },
        "description": "Deletes an existing rule.",
        "parameters": [
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/NamespaceNameParameter"
          },
          {
            "$ref": "#/parameters/TopicNameParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionNameParameter"
          },
          {
            "$ref": "#/parameters/RuleNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Rule deleted."
          },
          "204": {
            "description": "No Content"
          },
          "default": {
            "description": "ServiceBus error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      },
      "get": {
        "tags": [
          "Subscriptions"
        ],
        "operationId": "Rules_Get",
        "x-ms-examples": {
          "RulesGet": {
            "$ref": "./examples/Rules/RuleGet.json"
          }
        },
        "description": "Retrieves the description for the specified rule.",
        "externalDocs": {
          "url": ""
        },
        "parameters": [
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/NamespaceNameParameter"
          },
          {
            "$ref": "#/parameters/TopicNameParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionNameParameter"
          },
          {
            "$ref": "#/parameters/RuleNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved rule description.",
            "schema": {
              "$ref": "#/definitions/Rule"
            }
          },
          "default": {
            "description": "ServiceBus error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "Resource": {
      "properties": {
        "id": {
          "type": "string",
          "readOnly": true,
          "description": "Resource Id"
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Resource name"
        },
        "type": {
          "type": "string",
          "readOnly": true,
          "description": "Resource type"
        }
      },
      "x-ms-azure-resource": true,
      "description": "The Resource definition for other than namespace."
    },
    "ErrorResponse": {
      "description": "Error response indicates ServiceBus service is not able to process the incoming request. The reason is provided in the error message.",
      "type": "object",
      "properties": {
        "code": {
          "description": "Error code.",
          "type": "string"
        },
        "message": {
          "description": "Error message indicating why the operation failed.",
          "type": "string"
        }
      }
    },
    "Rule": {
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/Ruleproperties",
          "description": "Properties of Rule resource"
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ],
      "description": "Description of Rule Resource."
    },
    "Ruleproperties": {
      "properties": {
        "action": {
          "$ref": "#/definitions/Action",
          "description": "Represents the filter actions which are allowed for the transformation of a message that have been matched by a filter expression."
        },
        "filterType": {
          "$ref": "#/definitions/FilterType",
          "description": "Filter type that is evaluated against a BrokeredMessage."
        },
        "sqlFilter": {
          "$ref": "#/definitions/SqlFilter",
          "description": "Properties of sqlFilter"
        },
        "correlationFilter": {
          "$ref": "#/definitions/CorrelationFilter",
          "description": "Properties of correlationFilter"
        }
      },
      "description": "Description of Rule Resource."
    },
    "RuleListResult": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Rule"
          },
          "description": "Result of the List Rules operation."
        },
        "nextLink": {
          "type": "string",
          "description": "Link to the next set of results. Not empty if Value contains incomplete list of rules"
        }
      },
      "description": "The response of the List rule operation."
    },
    "FilterType": {
      "type": "string",
      "enum": [
        "SqlFilter",
        "CorrelationFilter"
      ],
      "x-ms-enum": {
        "name": "FilterType",
        "modelAsString": false
      },
      "description": "Rule filter types"
    },
    "SqlFilter": {
      "type": "object",
      "properties": {
        "sqlExpression": {
          "type": "string",
          "description": "The SQL expression. e.g. MyProperty='ABC'"
        },
        "compatibilityLevel": {
          "format": "int32",
          "type": "integer",
          "default": 20,
          "minimum": 20,
          "maximum": 20,
          "description": "This property is reserved for future use. An integer value showing the compatibility level, currently hard-coded to 20."
        },
        "requiresPreprocessing": {
          "type": "boolean",
          "default": true,
          "description": "Value that indicates whether the rule action requires preprocessing."
        }
      },
      "description": "Represents a filter which is a composition of an expression and an action that is executed in the pub/sub pipeline."
    },
    "CorrelationFilter": {
      "type": "object",
      "properties": {
        "properties": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "dictionary object for custom filters"
        },
        "correlationId": {
          "type": "string",
          "description": "Identifier of the correlation."
        },
        "messageId": {
          "type": "string",
          "description": "Identifier of the message."
        },
        "to": {
          "type": "string",
          "description": "Address to send to."
        },
        "replyTo": {
          "type": "string",
          "description": "Address of the queue to reply to."
        },
        "label": {
          "type": "string",
          "description": "Application specific label."
        },
        "sessionId": {
          "type": "string",
          "description": "Session identifier."
        },
        "replyToSessionId": {
          "type": "string",
          "description": "Session identifier to reply to."
        },
        "contentType": {
          "type": "string",
          "description": "Content type of the message."
        },
        "requiresPreprocessing": {
          "type": "boolean",
          "default": true,
          "description": "Value that indicates whether the rule action requires preprocessing."
        }
      },
      "description": "Represents the correlation filter expression."
    },
    "Action": {
      "type": "object",
      "properties": {
        "sqlExpression": {
          "type": "string",
          "description": "SQL expression. e.g. MyProperty='ABC'"
        },
        "compatibilityLevel": {
          "format": "int32",
          "type": "integer",
          "description": "This property is reserved for future use. An integer value showing the compatibility level, currently hard-coded to 20."
        },
        "requiresPreprocessing": {
          "type": "boolean",
          "default": true,
          "description": "Value that indicates whether the rule action requires preprocessing."
        }
      },
      "description": "Represents the filter actions which are allowed for the transformation of a message that have been matched by a filter expression."
    }
  },
  "parameters": {
    "SubscriptionIdParameter": {
      "name": "subscriptionId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "Subscription credentials that uniquely identify a Microsoft Azure subscription. The subscription ID forms part of the URI for every service call."
    },
    "ApiVersionParameter": {
      "name": "api-version",
      "in": "query",
      "required": true,
      "type": "string",
      "description": "Client API version."
    },
    "ResourceGroupNameParameter": {
      "name": "resourceGroupName",
      "in": "path",
      "required": true,
      "type": "string",
      "minLength": 1,
      "maxLength": 90,
      "x-ms-parameter-location": "method",
      "description": "Name of the Resource group within the Azure subscription."
    },
    "NamespaceNameParameter": {
      "name": "namespaceName",
      "in": "path",
      "required": true,
      "type": "string",
      "minLength": 6,
      "maxLength": 50,
      "x-ms-parameter-location": "method",
      "description": "The namespace name"
    },
    "TopicNameParameter": {
      "name": "topicName",
      "in": "path",
      "required": true,
      "type": "string",
      "minLength": 1,
      "x-ms-parameter-location": "method",
      "description": "The topic name."
    },
    "SubscriptionNameParameter": {
      "name": "subscriptionName",
      "in": "path",
      "required": true,
      "type": "string",
      "minLength": 1,
      "maxLength": 50,
      "x-ms-parameter-location": "method",
      "description": "The subscription name."
    },
    "RuleNameParameter": {
      "name": "ruleName",
      "in": "path",
      "required": true,
      "type": "string",
      "minLength": 1,
      "maxLength": 50,
      "x-ms-parameter-location": "method",
      "description": "The rule name."
    },
    "SkipParameter": {
      "name": "$skip",
      "description": "Skip is only used if a previous operation returned a partial result. If a previous response contains a nextLink element, the value of the nextLink element will include a skip parameter that specifies a starting point to use for subsequent calls.",
      "in": "query",
      "required": false,
      "type": "integer",
      "minimum": 0,
      "maximum": 1000,
      "x-ms-parameter-location": "method"
    },
    "TopParameter": {
      "name": "$top",
      "description": "May be used to limit the number of results to the most recent N usageDetails.",
      "in": "query",
      "required": false,
      "type": "integer",
      "minimum": 1,
      "maximum": 1000,
      "x-ms-parameter-location": "method"
    }
  }
}